@import '../../../shared/styles/variables.less';

/** @prettier */

.gradiente {
  margin-top: 90px;
}

.card {
  width: 100%;
  border-radius: 2px;
}

.registro {
  h2 {
    margin: 10px;
    z-index: 100;
    color: @color-white !important;
  }

  h3 {
    text-align: center;
    font-size: 20px;
  }

  fieldset:disabled {
    h3 {
      color: rgba(71, 77, 86, 0.5);
    }
    .textMain {
      opacity: 0.5;
      font-size: 16px;
      color: @color-dark-gray;
      text-align: center;
      font-family: 'Roboto Regular';
    }
    label {
      opacity: 0.5;
      font-family: 'Roboto Regular';
      font-size: 12px;
      color: @color-middle-gray;
    }
    .textInfo {
      opacity: 0.5;
      font-size: 12px;
      color: @color-light-gray;
    }
    .colorPrimary {
      opacity: 0.5;
      color: @color-main;
    }
  }

  hr {
    border-top: 1px solid @color-main;
  }

  a {
    color: @color-main !important;
    text-decoration: none;
    font-size: 14px;
    cursor: grabbing;
  }

  a:hover {
    color: @color-main !important;
  }

  label {
    font-family: 'Roboto Regular';
    font-size: 12px;
    color: @color-middle-gray;
  }

  input {
    font-family: 'Roboto Regular';
    font-size: 14px;
    color: @color-dark-gray;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
  }

  .textMain {
    opacity: 0.9;
    font-size: 16px;
    color: @color-dark-gray;
    text-align: center;
    font-family: 'Roboto Regular';
  }

  .textInfo {
    font-size: 12px;
    color: @color-light-gray;
  }

  .from-check {
    align-items: flex-end;
  }

  .termsLink {
    display: flex;
  }

  .codeVerify {
    margin-left: 4%;
    margin-right: 4%;
  }
}

.titleModal {
  p {
    font-family: 'Roboto Condensed Light';
    font-size: 48px;
    color: @color-main;
    width: 100%;
    text-align: center;
    margin-bottom: 0%;
    padding-bottom: 0%;
  }
}

.textBodyModal {
  p {
    font-family: 'Roboto Condensed Light';
    font-size: 24px;
    color: @color-dark-gray;
    margin-bottom: 0%;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    line-height: normal !important;
    span {
      font-family: 'Roboto Condensed Bold';
    }
  }
  margin-bottom: 0%;
}

.colorPrimary {
  color: @color-main;
}

.textBodyInfo {
  font-family: 'Roboto Regular';
  font-size: 16px;
  color: @color-dark-gray;
  margin-bottom: 0px;
}

.textBodyRed {
  font-family: 'Roboto Condensed';
  font-size: 28px;
  color: @color-main;
}
.mediaBody {
  margin-top: 10px;
  padding-left: 15px;
  padding-top: 15px;
}

.imgMedia {
  padding: 55px;
}

.modal-header {
  display: initial;
}

.btnModificar {
  margin-right: 15px;
}

.verticalCenter {
  vertical-align: middle !important;
}

.paddingTop10 {
  padding-top: 10px;
}

.btnInicio {
  padding-right: 0%;
  button {
    width: 100px;
    margin-top: 12px;
  }
}

.panelLeft {
  background-color: @color-background-super-light-grey;
}

.ssCard {
  padding: 0 1.25rem;
}

.mImg {
  margin: 2rem 0;
}

.add_button {
  margin-top: 1.9rem;
}

.contentRegister {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  height: 100%;
}

.mText {
  margin: 5rem;
}

.mTextSucess {
  margin: 2rem 0 0 5rem;
}

.mBtnSucess {
  margin: 1.5rem 0 0 5rem;
}
